img {
    max-width: 100%;
    max-height: 100%;
}

img.avatar{
    height: 24px;
}

h3{
    font-size: 20px;
}

.card-text{
    transition: 0.5s;
};

.card-text:hover{
    font-size:24px;
};


.top-buffer{
    margin-top: 20px;    
}

/*.interface-container{
    top:60px;
    /*bottom:70px;
    left:0px;
    /*right:40px;
}*/

.rounded-container{
    padding:5px;
    border-style: solid;
    border-width:1px;
    border-color: gray;
    border-radius:10px;
    background-color: whitesmoke;
}

/*.rounded-container.list-container{
    height:100%;
}*/

/*.rounded-container.character-card{
    height:100%;
}*/

/* Here is my CSS for my table.*/
thead{
    display:block;
}

tbody {
    height:300px;
    display:block;
    overflow-y:auto;
}

table tbody tr:hover {
    cursor:pointer;
    background-color: #C0FFFF;
}

table tbody tr:active {
    cursor:pointer;
    background-color: #80FFFF;
}

.active-character-row{
    background-color: #80FFFF;
}

table.table-bordered{
    border-style:solid;
    border-color:gray;
    border-radius:10px;
}

.rtable{
    padding:20px;
    background-color: #FFFFFF;
}

.inactive-rtable{
    padding:20px;
    background-color: #CCCCCC;
    color:#AAAAAA;
}

.item-container{
    margin: 0 auto;
    width:50%;
    height:0;
    padding-bottom: 50%;
}

.ajax-feedback{

    -webkit-animation: fade-blink 0.5s linear 0s infinite alternate;
       -moz-animation: fade-blink 0.5s linear 0s infinite alternate;
         -o-animation: fade-blink 0.5s linear 0s infinite alternate;
            animation: fade-blink 0.5s linear 0s infinite alternate;
}

@-webkit-keyframes fade-blink { from { color:#777777; } to { color:#FFFFFF; }  }
   @-moz-keyframes fade-blink { from { color:#777777; } to { color:#FFFFFF; }  }
     @-o-keyframes fade-blink { from { color:#777777; } to { color:#FFFFFF; }  }
        @keyframes fade-blink { from { color:#777777; } to { color:#FFFFFF; }  }

/* This says any window that is bigger than 700px will have this font.*/
@media ( min-width: 700px ) {
  h3 {
     font-size: 30px;
  }
}
