img {
    max-width: 100%;
    max-height: 100%;
}

img.avatar{
    height: 24px;
}

h3{
    font-size: 20px;
}

#back-to-main{
    margin-top: 20px;
}

.rounded-container{
    padding:5px;
    border-style: solid;
    border-width:1px;
    border-color: gray;
    border-radius:10px;
    background-color: whitesmoke;
}

thead{
    display:block;
}

tbody {
    display:block;
    overflow-y:scroll; 
    height:300px;
}

.rounded-container.rtable{
    padding:20px;
    background-color: #FFFFFF;
}

table.table-bordered{
    border-style:solid;
    border-color:gray;
    border-radius:10px;
}
/* This says any window that is bigger than 700px will have this font.*/
@media ( min-width: 700px ) {
  h3 {
     font-size: 30px;
  }
}
